<!doctype html>
<html lang="en" ng-app="juicerecipesApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <!--<title>PhoneCat app example -- Google Phone Gallery</title>-->
    <title>juice by lizzb</title>

    <!-- I dont like the changes to the default minimalist style for generated github pages, reverting to older css -->
    <!--
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    -->
    <link rel="stylesheet" href="http://lizzb.github.io/juice/stylesheets/styles-orderedlist.css">
    <link rel="stylesheet" href="http://lizzb.github.io/juice/stylesheets/pygment_trac-orderedlist.css">
    
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<style>
  body {
      padding-top: 20px;
  }

  .phone-images {
      background-color: white;
      width: 450px;
      height: 450px;
      overflow: hidden;
      position: relative;
      float: left;
  }

  .juices {
      list-style: none;
  }

  .thumb {
      float: left;
      margin: -0.5em 1em 1.5em 0;
      padding-bottom: 1em;
      height: 100px;
      width: 100px;
  }

  .juices li {
      clear: both;
      height: 115px;
      padding-top: 15px;
  }

  /** Detail View **/
  img.phone {
      float: left;
      margin-right: 3em;
      margin-bottom: 2em;
      background-color: white;
      padding: 2em;
      height: 400px;
      width: 400px;
      display: none;
  }

  img.phone:first-child {
      display: block;
  }

  ul.phone-thumbs {
      margin: 0;
      list-style: none;
  }

  ul.phone-thumbs li {
      border: 1px solid black;
      display: inline-block;
      margin: 1em;
      background-color: white;
  }

  ul.phone-thumbs img {
      height: 100px;
      width: 100px;
      padding: 1em;
  }

  ul.phone-thumbs img:hover {
      cursor: pointer;
  }

  ul.specs {
      clear: both;
      margin: 0;
      padding: 0;
      list-style: none;
  }

  ul.specs > li {
      display: inline-block;
      width: 200px;
      vertical-align: top;
  }

  ul.specs > li > span {
      font-weight: bold;
      font-size: 1.2em;
  }

  ul.specs dt {
      font-weight: bold;
  }

  h1 {
      border-bottom: 1px solid gray;
  }
 

  .sortorder.asc:after {
    content: '\25b2';
  }
  .sortorder:after {
    content: '\25bc';
  }

  
 
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js"></script>

  <!--<script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body ng-controller="JuiceListCtrl">

    <div ng-view></div>

</body>
</html>

      <!-- filter checkboxes
      "p_carrot", "p_apple", "p_orange", "p_beet root", "p_lemon", "p_lime", "p_spinach", "p_peach", "p_grapefruit", "p_avocado", "p_celery", "p_grapes", "p_ginger root", "p_coconut water", "p_cabbage (red)", "p_broccoli", "p_cilantro", "p_asparagus", "p_parsley", "p_olive oil", "p_pineapple", "p_cayenne pepper (spice)", "p_cucumber", "p_watermelon", "p_tomato", "p_peppermint", "p_basil (fresh)", "p_blueberry", "p_pomegranate", "p_kale", "p_dandelion greens", "p_kiwifruit", "p_pumpkin", "p_cranberries", "p_cinnamon (ground)", "p_nutmeg (ground)", "p_lettuce (romaine)", "p_bitter melon", "p_bell pepper (green)", "p_bell pepper (red)", "p_collard greens", "p_onion (spring/scallion)", "p_basil (dried)", "p_cauliflower"
      -->

<!--
Fruits

 Apple
 Avocado
 Blackberry
 Blueberry
 Cranberries
 Grapefruit
 Grapes
 Kiwifruit
 Lemon
 Lime
 Mango
 Melon (cantaloupe)
 Orange
 Papaya
 Peach
 Pear
 Pineapple
 Pomegranate
 Strawberry
 Watermelon


 Vegetables

 Asparagus
 Beet Greens
 Beet Root
 Bell Pepper (green)
 Bell Pepper (red)
 Bitter Melon
 Broccoli
 Brussel Sprout
 Cabbage (red)
 Carrot
 Cauliflower
 Celery
 Chard (swiss)
 Cilantro
 Collard Greens
 Cucumber
 Dandelion Greens
 Fennel Bulb
 Garlic
 Ginger Root
 Jalapeno
 Kale
 Lettuce (romaine)
 Onion (spring/scallion)
 Parsley
 Pumpkin
 Spinach
 Spirulina (dried)
 Sweet Potato
 Tomato
 Turmeric Root

 Nuts & Seeds

 Coconut
 Coconut Milk
 Coconut Water

 Herbs & Spices

 Basil (dried)
 Basil (fresh)
 Cayenne Pepper (spice)
 Cider Vinegar
 Cinnamon (Ground)
 Nutmeg (ground)
 Peppermint
 Pumpkin Pie Spice
 Salt

 Sweeteners

 Honey
 -->




<!-- show if our function age is an even number -->
          <!--<div ng-show="{{camp.age}}%2 == 0">The age is even.</div>-->
<!--<span ng-show="{{camp.campaignTypes.indexOf('Partner') >= 0}}">
             <i class="fa fa-heart"></i> Partner &nbsp;&nbsp;&nbsp;
          </span>-->

<script type="text/ng-template" id="juice-list.html">

  <div class="wrapper">
    <header>
      <!-- this is the sidebar (header on mobile viewport) -->
        <!--
        <h1>juice</h1>
        
        <p>repo for finding fav juice recipes, using a self-contained angular-phonecat base</p>

        <p class="view"><a href="https://github.com/lizzb/juice">View the Project on GitHub <small>lizzb/juice</small></a></p>

        
        <ul>
          <li><a href="https://github.com/lizzb/juice/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/lizzb/juice/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/lizzb/juice">View On <strong>GitHub</strong></a></li>
        </ul>
        -->

      <!--Sidebar content-->

      Search: <input ng-model="query"><br>
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="ounces">Yield</option>
      </select>

      <br>
      Number of results: {{filtered.length}} (out of {{juices.length}})


      <!--{{ selectedFilters | json}}-->

    </header>
    <section>
      <!--Body content-->

      <ul class="juices">
        <li ng-repeat="juice in filtered=(juices | filter:query | orderBy:orderProp)" class="thumbnail"><!-- filter:filterByProperties |  -->
          <a href="#/juices/{{juice.id}}" class="thumb"><img ng-src="{{juice.imageUrl}}"></a>
          <a href="#/juices/{{juice.id}}">{{juice.name}}</a>
          <p>{{juice.description}}</p>
        </li>
      </ul>

    </section>

    <footer>
        <p>This project is maintained by <a href="https://github.com/lizzb">lizzb</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
  </div>

</script>


<script type="text/ng-template" id="juice-detail.html">

<img ng-src="{{juice.imageUrl}}" class="phone">
<!--<img ng-src="{{mainImageUrl}}" class="phone">-->

<h1><a href="{{juice.source_URL}}" target="_blank">{{juice.name}}</a></h1>

<p>{{juice.my_percentages}}</p>

<!-- i dont have any other images for a drink, just the main -->
<!--
<ul class="phone-thumbs">
   <li ng-repeat="img in juice.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>
-->

<ul class="specs">
  <li>
    <span>Description</span>
    <dl>
      <!--<dt>Description</dt>-->
      <dd>{{juice.description}}</dd>
    </dl>
  </li>
  <li>
    <span>Ingredients</span>
    <dl>
      <!--<dt>Ingredients</dt>-->
      <!--<dd ng-repeat="availability in juice.availability">{{availability}}</dd>-->
      <dd>{{juice.ingredients}}</dd>
    </dl>
  </li>
  <li>
    <span>Directions</span>
    <dl>
      <!--<dt>Directions</dt>-->
      <dd>{{juice.directions}}</dd>
    </dl>
  </li>
  <li>
    <span>Yield</span>
    <dl>
      <!--<dt>Yield (Ounces)</dt>-->
      <dd>{{juice.ounces}}</dd>
    </dl>
  </li>
  <!--
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{juice.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{juice.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{juice.connectivity.bluetooth}}</dd>

      <dt>Infrared</dt>
      <dd>{{juice.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{juice.connectivity.gps | checkmark}}</dd>

    </dl>
  </li>
  -->
</ul>

</script>

<script src="http://lizzb.github.io/juice/javascripts/scale.fix.js"></script>

    <!-- contains juices array -->
    <script src="http://lizzb.github.io/juice/javascripts/juicelist.js"></script>


<script>
//'use strict';

//var phonecatApp = angular.module('phonecatApp', []);
// var phonecatApp = angular.module('phonecatApp', ['ngRoute','phonecatControllers']);

var juicerecipesApp = angular.module('juicerecipesApp', ['ngRoute']);

juicerecipesApp.config(['$routeProvider',
  function($routeProvider) {
    $routeProvider.
      when('/juices', {
        templateUrl: 'juice-list.html',
        controller: 'JuiceListCtrl'
      }).
      when('/juices/:phoneId', {
        templateUrl: 'juice-detail.html',
        controller: 'JuiceDetailCtrl'
      }).
      otherwise({
        redirectTo: '/juices'
      });
  }]);


/* Filters */
juicerecipesApp.filter('checkmark', function() {
    return function(input) {
        return input ? '\u2713' : '\u2718';
    };
});


juicerecipesApp.controller('JuiceDetailCtrl', ['$scope', '$routeParams', '$http',
  function($scope, $routeParams, $http) {
    /*$http.get('http://angular.github.io/angular-phonecat/step-12/app/phones/' + $routeParams.phoneId + '.json').success(function(data) {
      $scope.phone = data;
      $scope.mainImageUrl = data.images[0];

      $scope.setImage = function(imageUrl) {
        $scope.mainImageUrl = imageUrl;
      };
    });*/



    console.log($scope.juices.length);

    var data = 0;
    // find the juice in the juices array with matching id
    for(var i=0; i<$scope.juices.length; i++) {
      if ($scope.juices[i].id == $routeParams.phoneId)
        data = $scope.juices[i];
    }
    $scope.juice = data;
      //$scope.mainImageUrl = data.images[0];
      $scope.mainImageUrl = data.imageUrl;

      $scope.setImage = function(imageUrl) {
        $scope.mainImageUrl = imageUrl;
      };

  }]);


juicerecipesApp.controller('JuiceListCtrl', function($scope) {
//###juicerecipesApp.controller('PhoneListCtrl', ['$scope', '$http', function($scope, $http) {

    /*
    $http.get('http://angular.github.io/angular-phonecat/step-12/app/phones/phones.json').success(function(data) {
      $scope.phones = data;
    });
    */

    /*
    this array was created with jsbin.com/tugutox/3/edit?html,js,output
    modified at https://jsbin.com/hocubi/edit?js,output
    */
    $scope.juices = juices;

    $scope.orderProp = 'age';

    // $scope.orderProp = 'age';
    // to start order by age, ascending/NOT reverse (youngest to oldest)
    $scope.sortProp = 'age';
    $scope.asc = true;
  
  // this function controlling the select is messed up... i think. check first 2 lines
  // because it was modified uncarefully from a reverse sort example
  // https://docs.angularjs.org/api/ng/filter/orderBy
  // https://docs.angularjs.org/api/ng/filter/date
  
  $scope.order = function(sortProp) {
    //$scope.asc = ($scope.sortProp === sortProp) 
    $scope.asc = ($scope.sortProp === sortProp) ? !$scope.asc : false;
    $scope.sortProp = sortProp;
  }

  // following is bulkier than i need, but i just want this quick and dirty for now
// see https://plnkr.co/edit/FSvv0ll8Izyol3fX5yjg?p=preview

// for each item in the cbckbox model, if dataObj has the property, return true ('passes' the filter successfully), else return false

      $scope.filterByProperties = function(dataObj) {
        console.log("check dataObj has property Apple...dataObj['Apple']: "+dataObj['Apple']);
        //console.log("return value == true..."+!!(dataObj['Apple']));

        console.log("value to return: "+!!(dataObj['Apple']));
        /*var matchesAND = true;
        for (var parentProp in $scope.selectedFilters) {
          for (var childProp in parentProp) {
            console.log('childProp'+ childProp+ ' | parentProp' + parentProp);
            console.log('!dataObj[childProp]'+ !dataObj[childProp]);
            if (!dataObj[childProp]) {
              matchedAND = false;
              break;
            }
          }
        }*/
        // return true if contains the prop, false if it doesnt
        return !!(dataObj['Apple']);
      }
// or http://stackoverflow.com/questions/14514461/how-to-bind-to-list-of-checkbox-values-with-angularjs
  /*
  // types: fruit,vegetable, nuts and seeds, sweetener, herbs and spices
{ name: "Apple", type: "fruit", checked: "" },
{ name: "Asparagus", type: "vegetable", checked: "" },
{ name: "Avocado", type: "fruit", checked: "" },
{ name: "Basil (dried)", type: "herbs and spices", checked: "" },
{ name: "Basil (fresh)", type: "herbs and spices", checked: "" },
{ name: "Beet Greens", type: "vegetable", checked: "" },
{ name: "Beet Root", type: "vegetable", checked: "" },
{ name: "Bell Pepper (green)", type: "vegetable", checked: "" },
{ name: "Bell Pepper (red)", type: "vegetable", checked: "" },
{ name: "Bitter Melon", type: "vegetable", checked: "" },
{ name: "Blackberry", type: "fruit", checked: "" },
{ name: "Blueberry", type: "fruit", checked: "" },
{ name: "Broccoli", type: "vegetable", checked: "" },
{ name: "Brussel Sprout", type: "vegetable", checked: "" },
{ name: "Cabbage (red)", type: "vegetable", checked: "" },
{ name: "Carrot", type: "vegetable", checked: "" },
{ name: "Cauliflower", type: "vegetable", checked: "" },
{ name: "Cayenne Pepper (spice)", type: "herbs and spices", checked: "" },
{ name: "Celery", type: "vegetable", checked: "" },
{ name: "Chard (swiss)", type: "vegetable", checked: "" },
{ name: "Cider Vinegar", type: "herbs and spices", checked: "" },
{ name: "Cilantro", type: "vegetable", checked: "" },
{ name: "Cinnamon (Ground)", type: "herbs and spices", checked: "" },
{ name: "Coconut", type: "nuts and seeds", checked: "" },
{ name: "Coconut Milk", type: "nuts and seeds", checked: "" },
{ name: "Coconut Water", type: "nuts and seeds", checked: "" },
{ name: "Collard Greens", type: "vegetable", checked: "" },
{ name: "Cranberries", type: "fruit", checked: "" },
{ name: "Cucumber", type: "vegetable", checked: "" },
{ name: "Dandelion Greens", type: "vegetable", checked: "" },
{ name: "Fennel Bulb", type: "vegetable", checked: "" },
{ name: "Garlic", type: "vegetable", checked: "" },
{ name: "Ginger Root", type: "vegetable", checked: "" },
{ name: "Grapefruit", type: "fruit", checked: "" },
{ name: "Grapes", type: "fruit", checked: "" },
{ name: "Green Tea", type: "vegetable", checked: "" },
{ name: "Honey", type: "sweetener", checked: "" },
{ name: "Jalapeno", type: "vegetable", checked: "" },
{ name: "Kale", type: "vegetable", checked: "" },
{ name: "Kiwifruit", type: "fruit", checked: "" },
{ name: "Lemon", type: "fruit", checked: "" },
{ name: "Lettuce (romaine)", type: "vegetable", checked: "" },
{ name: "Lime", type: "fruit", checked: "" },
{ name: "Mango", type: "fruit", checked: "" },
{ name: "Melon (cantaloupe)", type: "fruit", checked: "" },
{ name: "Nutmeg (ground)", type: "herbs and spices", checked: "" },
{ name: "Olive Oil", type: "other", checked: "" },
{ name: "Onion (spring/scallion)", type: "vegetable", checked: "" },
{ name: "Orange", type: "fruit", checked: "" },
{ name: "Papaya", type: "fruit", checked: "" },
{ name: "Parsley", type: "vegetable", checked: "" },
{ name: "Peach", type: "fruit", checked: "" },
{ name: "Pear", type: "fruit", checked: "" },
{ name: "Peppermint", type: "herbs and spices", checked: "" },
{ name: "Pineapple", type: "fruit", checked: "" },
{ name: "Pomegranate", type: "fruit", checked: "" },
{ name: "Pumpkin", type: "vegetable", checked: "" },
{ name: "Pumpkin Pie Spice", type: "herbs and spices", checked: "" },
{ name: "Salt", type: "herbs and spices", checked: "" },
{ name: "Sparkling Water", type: "other", checked: "" },
{ name: "Spinach", type: "vegetable", checked: "" },
{ name: "Spirulina (dried)", type: "vegetable", checked: "" },
{ name: "Strawberry", type: "fruit", checked: "" },
{ name: "Sweet Potato", type: "vegetable", checked: "" },
{ name: "Tomato", type: "vegetable", checked: "" },
{ name: "Turmeric Root", type: "vegetable", checked: "" },
{ name: "Watermelon", type: "fruit", checked: "" }
*/

});

//###}]);



</script>
</body>
</html>
