<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <title>PhoneCat app example -- Google Phone Gallery</title>

  <!--<title>PhoneCat app example -- Google Phone Gallery</title>-->
    <title>Juice by lizzb</title>

    <!-- I dont like the changes to the default minimalist style for generated github pages, reverting to older css -->
    <!--
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    -->
    <link rel="stylesheet" href="http://lizzb.github.io/juice/stylesheets/styles-orderedlist.css">
    <link rel="stylesheet" href="http://lizzb.github.io/juice/stylesheets/pygment_trac-orderedlist.css">
    
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <style>
  body {
      padding-top: 20px;
  }

  .phone-images {
      background-color: white;
      width: 450px;
      height: 450px;
      overflow: hidden;
      position: relative;
      float: left;
  }

  .phones {
      list-style: none;
  }

  .thumb {
      float: left;
      margin: -0.5em 1em 1.5em 0;
      padding-bottom: 1em;
      height: 100px;
      width: 100px;
  }

  .phones li {
      clear: both;
      height: 115px;
      padding-top: 15px;
  }

  /** Detail View **/
  img.phone {
      float: left;
      margin-right: 3em;
      margin-bottom: 2em;
      background-color: white;
      padding: 2em;
      height: 400px;
      width: 400px;
      display: none;
  }

  img.phone:first-child {
      display: block;
  }

  ul.phone-thumbs {
      margin: 0;
      list-style: none;
  }

  ul.phone-thumbs li {
      border: 1px solid black;
      display: inline-block;
      margin: 1em;
      background-color: white;
  }

  ul.phone-thumbs img {
      height: 100px;
      width: 100px;
      padding: 1em;
  }

  ul.phone-thumbs img:hover {
      cursor: pointer;
  }

  ul.specs {
      clear: both;
      margin: 0;
      padding: 0;
      list-style: none;
  }

  ul.specs > li {
      display: inline-block;
      width: 200px;
      vertical-align: top;
  }

  ul.specs > li > span {
      font-weight: bold;
      font-size: 1.2em;
  }

  ul.specs dt {
      font-weight: bold;
  }

  h1 {
      border-bottom: 1px solid gray;
  }
 

  .sortorder.asc:after {
    content: '\25b2';
  }
  .sortorder:after {
    content: '\25bc';
  }

  
 
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js"></script>

  <!--<script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body ng-controller="PhoneListCtrl">

    <div ng-view></div>

</body>
</html>

      <!-- filter checkboxes
      "p_carrot", "p_apple", "p_orange", "p_beet root", "p_lemon", "p_lime", "p_spinach", "p_peach", "p_grapefruit", "p_avocado", "p_celery", "p_grapes", "p_ginger root", "p_coconut water", "p_cabbage (red)", "p_broccoli", "p_cilantro", "p_asparagus", "p_parsley", "p_olive oil", "p_pineapple", "p_cayenne pepper (spice)", "p_cucumber", "p_watermelon", "p_tomato", "p_peppermint", "p_basil (fresh)", "p_blueberry", "p_pomegranate", "p_kale", "p_dandelion greens", "p_kiwifruit", "p_pumpkin", "p_cranberries", "p_cinnamon (ground)", "p_nutmeg (ground)", "p_lettuce (romaine)", "p_bitter melon", "p_bell pepper (green)", "p_bell pepper (red)", "p_collard greens", "p_onion (spring/scallion)", "p_basil (dried)", "p_cauliflower"
      -->

<!--
Fruits

 Apple
 Avocado
 Blackberry
 Blueberry
 Cranberries
 Grapefruit
 Grapes
 Kiwifruit
 Lemon
 Lime
 Mango
 Melon (cantaloupe)
 Orange
 Papaya
 Peach
 Pear
 Pineapple
 Pomegranate
 Strawberry
 Watermelon


 Vegetables

 Asparagus
 Beet Greens
 Beet Root
 Bell Pepper (green)
 Bell Pepper (red)
 Bitter Melon
 Broccoli
 Brussel Sprout
 Cabbage (red)
 Carrot
 Cauliflower
 Celery
 Chard (swiss)
 Cilantro
 Collard Greens
 Cucumber
 Dandelion Greens
 Fennel Bulb
 Garlic
 Ginger Root
 Jalapeno
 Kale
 Lettuce (romaine)
 Onion (spring/scallion)
 Parsley
 Pumpkin
 Spinach
 Spirulina (dried)
 Sweet Potato
 Tomato
 Turmeric Root

 Nuts & Seeds

 Coconut
 Coconut Milk
 Coconut Water

 Herbs & Spices

 Basil (dried)
 Basil (fresh)
 Cayenne Pepper (spice)
 Cider Vinegar
 Cinnamon (Ground)
 Nutmeg (ground)
 Peppermint
 Pumpkin Pie Spice
 Salt

 Sweeteners

 Honey
 -->




<!-- show if our function age is an even number -->
          <!--<div ng-show="{{camp.age}}%2 == 0">The age is even.</div>-->
<!--<span ng-show="{{camp.campaignTypes.indexOf('Partner') >= 0}}">
             <i class="fa fa-heart"></i> Partner &nbsp;&nbsp;&nbsp;
          </span>-->

<script type="text/ng-template" id="phone-list.html">

  <div class="wrapper">
    <header>
      <!-- this is the sidebar (header on mobile viewport) -->
        <!--
        <h1>juice</h1>
        
        <p>repo for finding fav juice recipes, using a self-contained angular-phonecat base</p>

        <p class="view"><a href="https://github.com/lizzb/juice">View the Project on GitHub <small>lizzb/juice</small></a></p>

        
        <ul>
          <li><a href="https://github.com/lizzb/juice/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/lizzb/juice/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/lizzb/juice">View On <strong>GitHub</strong></a></li>
        </ul>
        -->

      <!--Sidebar content-->

      Search: <input ng-model="query"><br>
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>


    </header>
    <section>
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.description}}</p>
        </li>
      </ul>

    </section>

    <footer>
        <p>This project is maintained by <a href="https://github.com/lizzb">lizzb</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
  </div>

</script>


<script type="text/ng-template" id="phone-detail.html">

<img ng-src="{{phone.imageUrl}}" class="phone">
<!--<img ng-src="{{mainImageUrl}}" class="phone">-->

<h1><a href="{{phone.source_URL}}" target="_blank">{{phone.name}}</a></h1>

<p>{{phone.my_percentages}}</p>

<!-- i dont have any other images for a drink, just the main -->
<!--
<ul class="phone-thumbs">
   <li ng-repeat="img in phone.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>
-->

<ul class="specs">
  <li>
    <span>Description</span>
    <dl>
      <!--<dt>Description</dt>-->
      <dd>{{phone.description}}</dd>
    </dl>
  </li>
  <li>
    <span>Ingredients</span>
    <dl>
      <!--<dt>Ingredients</dt>-->
      <!--<dd ng-repeat="availability in phone.availability">{{availability}}</dd>-->
      <dd>{{phone.ingredients}}</dd>
    </dl>
  </li>
  <li>
    <span>Directions</span>
    <dl>
      <!--<dt>Directions</dt>-->
      <dd>{{phone.directions}}</dd>
    </dl>
  </li>
  <li>
    <span>Yield</span>
    <dl>
      <!--<dt>Yield (Ounces)</dt>-->
      <dd>{{phone.ounces}}</dd>
    </dl>
  </li>
  <!--
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{phone.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{phone.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{phone.battery.standbyTime}}</dd>
    </dl>
  </li>
  -->
  <!--
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{phone.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{phone.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{phone.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{phone.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{phone.connectivity.bluetooth}}</dd>

      <dt>Infrared</dt>
      <dd>{{phone.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{phone.connectivity.gps | checkmark}}</dd>

    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{phone.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{phone.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{phone.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{phone.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{phone.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{phone.display.touchScreen}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{phone.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{phone.hardware.usb}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{phone.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{phone.hardware.fmRadio}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{phone.hardware.accelerometer}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{phone.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{phone.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{phone.additionalFeatures}}</dd>
  </li>
</ul>
-->
</script>

<script src="http://lizzb.github.io/juice/javascripts/scale.fix.js"></script>

    <!-- contains juices array -->
    <script src="http://lizzb.github.io/juice/javascripts/list.js"></script>


<script>
//'use strict';

//var phonecatApp = angular.module('phonecatApp', []);
// var phonecatApp = angular.module('phonecatApp', ['ngRoute','phonecatControllers']);

var phonecatApp = angular.module('phonecatApp', ['ngRoute']);

phonecatApp.config(['$routeProvider',
  function($routeProvider) {
    $routeProvider.
      when('/phones', {
        templateUrl: 'phone-list.html',
        controller: 'PhoneListCtrl'
      }).
      when('/phones/:phoneId', {
        templateUrl: 'phone-detail.html',
        controller: 'PhoneDetailCtrl'
      }).
      otherwise({
        redirectTo: '/phones'
      });
  }]);

/* Filters */

/*
angular.module('phonecatFilters', []).filter('checkmark', function() {
    return function(input) {
        return input ? '\u2713' : '\u2718';
    };
});
*/
phonecatApp.filter('checkmark', function() {
    return function(input) {
        return input ? '\u2713' : '\u2718';
    };
});


/*
phonecatApp.controller('PhoneDetailCtrl', ['$scope', '$routeParams',
  function($scope, $routeParams) {
    $scope.phoneId = $routeParams.phoneId;
  }]);
*/

/*
http://angular.github.io/angular-phonecat/step-12/app/phones/{{}}.json


http://angular.github.io/angular-phonecat/step-12/app/phones/samsung-galaxy-tab.json
http://angular.github.io/angular-phonecat/step-12/app/img/phones/motorola-xoom-with-wi-fi.0.jpg

snippet -- description
*/

phonecatApp.controller('PhoneDetailCtrl', ['$scope', '$routeParams', '$http',
  function($scope, $routeParams, $http) {
    /*$http.get('http://angular.github.io/angular-phonecat/step-12/app/phones/' + $routeParams.phoneId + '.json').success(function(data) {
      $scope.phone = data;
      $scope.mainImageUrl = data.images[0];

      $scope.setImage = function(imageUrl) {
        $scope.mainImageUrl = imageUrl;
      };
    });*/

    console.log($scope.phones.length);

    var data = 0;
    // fine the phone in the phones array with matching id
    for(var i=0; i<$scope.phones.length; i++) {
      if ($scope.phones[i].id == $routeParams.phoneId)
        data = $scope.phones[i];
    }
    $scope.phone = data;
      //$scope.mainImageUrl = data.images[0];
      $scope.mainImageUrl = data.imageUrl;

      $scope.setImage = function(imageUrl) {
        $scope.mainImageUrl = imageUrl;
      };

  }]);

/* to add to filters potentially
Beet Root (golden)
Honey
Apple (fuji)
Beet Root
Salt (himalayan)
Cayenne Pepper (spice)
Cilantro
Onion (spring/scallion)
Pumpkin Pie Spice
Lemon (with rind)
*/

phonecatApp.controller('PhoneListCtrl', function($scope) {
//###phonecatApp.controller('PhoneListCtrl', ['$scope', '$http', function($scope, $http) {
    /*
    $scope.phones = [{
        'name': 'Nexus S',
        'snippet': 'Fast just got faster with Nexus S.',
        'age': 1
    }, {
        'name': 'Motorola XOOM™ with Wi-Fi',
        'snippet': 'The Next, Next Generation tablet.',
        'age': 2
    }, {
        'name': 'MOTOROLA XOOM™',
        'snippet': 'The Next, Next Generation tablet.',
        'age': 3
    }];
    */

    /*
    $http.get('http://angular.github.io/angular-phonecat/step-12/app/phones/phones.json').success(function(data) {
      $scope.phones = data;
    });

    http://angular.github.io/angular-phonecat/step-7/app/img/phones/motorola-xoom-with-wi-fi.0.jpg

    http://angular.github.io/angular-phonecat/step-12/app/img/phones/motorola-xoom-with-wi-fi.0.jpg

    http://angular.github.io/angular-phonecat/step-12/app/img/phones/motorola-xoom-with-wi-fi.0.jpg
    */

    /* this array was created with http://jsbin.com/tugutox/3/edit?html,js,output */
    $scope.phones = juices;

    $scope.orderProp = 'age';

    // $scope.orderProp = 'age';
    // to start order by age, ascending/NOT reverse (youngest to oldest)
    $scope.sortProp = 'age';
    $scope.asc = true;
  
  // this function controlling the select is messed up... i think. check first 2 lines
  // because it was modified uncarefully from a reverse sort example
  // https://docs.angularjs.org/api/ng/filter/orderBy
  // https://docs.angularjs.org/api/ng/filter/date
  
  $scope.order = function(sortProp) {
    //$scope.asc = ($scope.sortProp === sortProp) 
    $scope.asc = ($scope.sortProp === sortProp) ? !$scope.asc : false;
    $scope.sortProp = sortProp;
  }

});

//###}]);



</script>
</body>
</html>
